<form action="/host/favourite-list" method="POST">
  <button type="submit"  class="p-2 bg-blue-500 rounded w-full text-white hover:bg-blue-600">Add To Favourite</button>
  <input type="hidden" name="id" value="<%= home._id %>">
</form>