<%- include('../partials/head') %>
</head>
<body class="bg-gray-100 text-gray-800">

  <!-- Navigation -->
 <%- include('../partials/nav')%>
  <!-- Header -->
  <header class="bg-white shadow-md py-8">
    <div class="container mx-auto text-center">
      <h1 class="text-3xl font-bold mb-2">Register Your Home Here</h1>
    </div>
  </header>

  <!-- Main Content -->
  <main class="container mx-auto my-8 p-6 bg-white shadow-md rounded-lg">
    <form action="/host/add-home" method="post" class="space-y-4">
      <div>
        <label for="houseName" class="block text-lg font-medium"></label>
        <input 
          type="text" 
          id="houseName" 
          name="houseName" 
          placeholder="Enter the name of your house"
          class="w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        <input 
          type="text" 
          id="price" 
          name="price" 
          placeholder="Price Per night"
          class="w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        <input 
          type="text" 
          id="location" 
          name="location" 
          placeholder="Location"
          class="w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        <input 
          type="text" 
          id="rating" 
          name="rating" 
          placeholder="Ratings"
          class="w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
        >
        <input 
        type="text" 
        id="photoUrl" 
        name="photoUrl" 
        placeholder="Enter Photo Url"
        class="w-full border border-gray-300 rounded-md p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
      >
      </div>
      <div>
        <input type="submit"
        value="<%= editing?"Update Home":"Add Home"%>"
          
          class="bg-blue-500 text-white font-bold py-2 px-6 rounded-md hover:bg-blue-600"
        >
      </div>
    </form>
  </main>

</body>
</html>
